:root {
	--color-primary: #ebebeb;
	--color-secondary: #29fd89;

    --accent-red: #DB3D4D;
    --accent-green: #35A691;
    --accent-yellow: #F7C435;
}

@import url("https://use.typekit.net/ioy3ebm.css");

Verdana_Regular {
font-family: "verdana-pro", sans-serif;
font-weight: 400;
font-style: normal;
}
Verdana_Italic {
font-family: "verdana-pro", sans-serif;
font-weight: 400;
font-style: italic;
}
Verdana_Bold {
font-family: "verdana-pro", sans-serif;
font-weight: 700;
font-style: normal;
}
Verdana_Bold_Italic {
font-family: "verdana-pro", sans-serif;
font-weight: 700;
font-style: italic;
}
Verdana_Condensed_Regular {
font-family: "verdana-pro-condensed", sans-serif;
font-weight: 400;
font-style: normal;
}
Verdana_Condensed_Italic {
font-family: "verdana-pro-condensed", sans-serif;
font-weight: 400;
font-style: italic;
}
Verdana_Condensed_Bold {
font-family: "verdana-pro-condensed", sans-serif;
font-weight: 700;
font-style: normal;
}
Verdana_Condensed_Bold_Italic {
font-family: "verdana-pro-condensed", sans-serif;
font-weight: 700;
font-style: italic;
}
